.online {
  background-color: green;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.offline {
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.friends-list {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  padding: 0;
  margin-bottom: 50px;
  overflow: hidden;
}
.item {
  display: flex;
  padding: 30px 80px;
  align-items: center;
  gap: 10px;
}

.item:nth-last-of-type(even) {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
}

.avatar {
  background-color: white;
  border-radius: 50%;
}
